:root {
    --background-gradient: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    --circle-gradient: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    --btn-gradient: linear-gradient(to right, hsl(252, 100%, 67%), hsl(241, 81%, 54%), hsl(241, 81%, 54%), hsl(252, 100%, 67%));


    --color-lightRed: hsl(0, 100%, 67%);
    --color-lightYellow: hsl(39, 100%, 56%);
    --color-lightGreen: hsl(166, 100%, 37%);
    --color-lightBlue: hsl(234, 85%, 45%);
    --color-white: hsl(0, 0%, 100%);
    --color-paleBlue: hsl(221, 100%, 96%);
    --color-lavender: hsl(241, 100%, 89%);
    --color-darkLavender: hsl(241, 21%, 63%);
    --color-gray: hsl(224, 30%, 27%);
    --alpha-lightRed: rgb(255, 87, 87, 0.1);
    --alpha-orangeYellow: rgb(255, 176, 31, 0.1);
    --alpha-greenTeal: rgb(0, 189, 145, 0.1);
    --alpha-cobaltBlue: rgb(17, 37, 212, 0.1);

    --fs-basic: 18px;

    --ff-kG: Hanken Grotesk, sans-serif;
}

body {
    color: var(--color-lavender);
    font-family: var(--ff-kG);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 590px) {
    main {
        height: 100%;
    }
}

.article {
    max-width: 700px;
    box-shadow: 28px 18px 62px -5px var(--color-lavender);
    -webkit-box-shadow: 28px 18px 62px -5px var(--color-lavender);
    -moz-box-shadow: 28px 18px 62px -5px var(--color-lavender);
}

@media (min-width: 590px) {
    .article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 30px;
    }
}

.result {
    background: var(--background-gradient);
    border-radius: 0 0 30px 30px;
    display: grid;
    gap: 20px;
    padding: 20px 45px 40px 45px;
}

@media (min-width: 590px) {
    .result {
        border-radius: 30px;
    }
}

.result__subHeader {
    font-size: var(--fs-basic);
    text-align: center;
}

.result__score {
    width: 140px;
    height: 140px;
    padding: 25px;
    background: var(--circle-gradient);
    border-radius: 50%;
    justify-self: center;
}

.score__container {
    text-align: center;
    font-weight: bold;
    color: var(--color-darkLavender);
}

.score__container--achived {
    font-size: 50px;
    font-weight: bolder;
    color: var(--color-white);
}

.result__subHeader--grade {
    font-size: 25px;
    color: var(--color-white);
}

.result__info {
    display: grid;
    gap: 5px;
}

.result__description {
    text-align: center;
    line-height: 20px;
}

.summary {
    padding: 20px 30px;
    display: grid;
    gap: 10px;
}

.summary__subHeader {
    color: var(--color-gray);
    font-size: 18px;
    margin-bottom: 10px;
}

.summary__test {
    display: grid;
    gap: 20px;
}

.test_category {
    display: grid;
    grid-template-columns: 0.2fr 1.5fr 0.3fr 0.1fr 0.3fr;
    align-items: center;
    background-color: var(--color-white);
    color: var(--color-darkLavender);
    padding: 15px 20px;
    border-radius: 10px;
}

.category__icon {
    justify-self: flex-start;
}

.category__name {
    margin-left: 10px;
    font-weight: bold;
    color: var(--color-lavender);
}

.category__scored {
    text-align: center;
    color: var(--color-gray);
    font-weight: 800;
}

.category__breaker {
    text-align: center;
}

.category__score {
    text-align: center;
}

.category__name--reaction {
    color: var(--color-lightRed);
}

.test_category--reaction {
    background-color: var(--alpha-lightRed);
}

.category__name--memory {
    color: var(--color-lightYellow);
}

.test_category--memory {
    background-color: var(--alpha-orangeYellow);
}

.category__name--verbal {
    color: var(--color-lightGreen);
}

.test_category--verbal {
    background-color: var(--alpha-greenTeal);
}

.category_name--visual {
    color: var(--color-lightBlue);
}

.test_category--visual {
    background-color: var(--alpha-cobaltBlue);
}

.result__button {
    margin: 15px 0;
    border-radius: 25px;
    border: none;
    padding: 15px;
    color: var(--color-white);
    font-weight: bold;
    background-image: var(--btn-gradient);
    letter-spacing: 1.3px;
    cursor: pointer;
    background-size: 300%;
    background-position: left;
    transition: 1s background-position ease-in-out, 0.8s box-shadow ease-in-out;
}

.result__button:hover {
    box-shadow: 0 5px 12px var(--color-darkLavender);
    background-position: right;
}

.result__button:focus {
    box-shadow: 0 5px 12px var(--color-darkLavender);
    background-position: right;
}