:root {
    --background-gradient: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    --circle-gradient: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));


    --color-lightRed: hsl(0, 100%, 67%);
    --color-lightYellow: hsl(39, 100%, 56%);
    --color-lightGreen: hsl(166, 100%, 37%);
    --color-lightBlue: hsl(234, 85%, 45%);
    --color-white: hsl(0, 0%, 100%);
    --color-paleBlue: hsl(221, 100%, 96%);
    --color-lavender: hsl(241, 100%, 89%);
    --color-gray: hsl(224, 30%, 27%);

    --fs-basic: 18px;

    --ff-kG: Hanken Grotesk, sans-serif;
}

body {
    color: var(--color-lavender);
    font-family: var(--ff-kG);
}

.result {
    background: var(--background-gradient);
    border-radius: 0 0 30px 30px;
    display: grid;
    padding: 20px 40px 40px 40px;
}

.result__subHeader {
    font-size: var(--fs-basic);
    text-align: center;
}

.result__score {
    width: 150px;
    height: 150px;
    padding: 25px;
    background: var(--circle-gradient);
    border-radius: 50%;
}