:root {
    --background-gradient: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    --circle-gradient: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));


    --color-lightRed: hsl(0, 100%, 67%);
    --color-lightYellow: hsl(39, 100%, 56%);
    --color-lightGreen: hsl(166, 100%, 37%);
    --color-lightBlue: hsl(234, 85%, 45%);
    --color-white: hsl(0, 0%, 100%);
    --color-paleBlue: hsl(221, 100%, 96%);
    --color-lavender: hsl(241, 100%, 89%);
    --color-darkLavender: hsl(241, 30%, 71%);
    --color-gray: hsl(224, 30%, 27%);

    --fs-basic: 18px;

    --ff-kG: Hanken Grotesk, sans-serif;
}

body {
    color: var(--color-lavender);
    font-family: var(--ff-kG);
}

.result {
    background: var(--background-gradient);
    border-radius: 0 0 30px 30px;
    display: grid;
    gap: 20px;
    padding: 20px 45px 40px 45px;
}

.result__subHeader {
    font-size: var(--fs-basic);
    text-align: center;
}

.result__score {
    width: 140px;
    height: 140px;
    padding: 25px;
    background: var(--circle-gradient);
    border-radius: 50%;
    justify-self: center;
}

.score__container {
    text-align: center;
    font-weight: bold;
    color: var(--color-darkLavender);
}

.score__container--achived {
    font-size: 50px;
    font-weight: bolder;
    color: var(--color-white);
}

.result__subHeader--grade {
    font-size: 25px;
    color: var(--color-white);
}

.result__info {
    display: grid;
    gap: 5px;
}

.result__description {
    text-align: center;
    line-height: 20px;
}

.summary {
    padding: 20px 30px;
    display: grid;
    gap: 10px;
}

.summary__subHeader {
    color:black;
    font-size: 18px;
}